#wp-watermark-holder {position:fixed;top:0;left:0;display:table;height:100%;width:100%;}
#wp-watermark {position: absolute; display:table-cell;width:100%;font-size:6em;font-weight:bold;line-height:1;font-family:Roboto,arial,helvetica,sans-serif;color:rgba(0,0,0,0.1);z-index:9999;}
.watermark-topleft {top:0; left:0; text-align:left;}
.watermark-topcenter {top:0; text-align:center;}
.watermark-topright {top: 0; right:0; text-align:right;}
.watermark-middleleft {top:50%; left: 0; transform: translate(0, -50%); text-align:left;}
.watermark-middlecenter {top:50%; left: 50%; transform: translate(-50%, -50%); text-align:center;}
.watermark-middleright {top:50%; right: 0; transform: translate(0, -50%); text-align:right;}
.watermark-bottomleft {bottom:0; left: 0; text-align:left;}
.watermark-bottomcenter {bottom:0; left: 50%; transform: translate(-50%, 0); text-align:center;}
.watermark-bottomright {bottom:0; right: 0; text-align:right;}
